body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: #fff;
}
 
.flex{
    display: flex;
}

#root{
    width: 100%;
    height: 100%;
    position: relative;

    --mc: #3161ff;
}

.logo{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-size: 1.3rem;
    line-height: 2;
    margin: 0;
    margin-left: 1rem;
}
.navSlide{
    margin-top: 1rem;
    margin-left: 30px;
    width: calc(100% - 30px);
    background-color: transparent;
    border: none !important;
}
.navSlide li{
    padding: 0;
    margin-inline: 0 !important;
    list-style: none;
    width: 100% !important;
}
.navSlide li.ant-menu-item{
    border-radius: 3rem 0 0 3rem;
    color: #fff;
}
.navSlide li.ant-menu-item.ant-menu-item-active{
    color: var(--mc) !important;
}

.navSlide li .selected{
   color: var(--mc) !important;
}
.navSlide .ant-menu-item-selected {
  background-color: #fff !important; /* 红色背景 */
}
.breadNav{
    line-height: 64px;
    width: 300px;
    display: flex;
    align-items: center;
}

.ant-layout-header{
    border-bottom: 1px solid #fafafa;
}

.login span{
    margin-left: 0.8rem;
    color: #666
}
